
<div class="body">
  <div class="container">
    <p id="notice"><%= notice %></p>
  	<h2>User info</h2>
    <%= form_for(@user, url: user_path(current_user.id)) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group has-icon">
          <label>Name</label>
          <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
      </div>
      <div class="form-group has-icon field">
        <label class="control-label sr-only" for="inputEmail">Image</label>
        <label>Image</label>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
      </div>
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Introduction</label>
        <label>Introduction</label>
        <%= f.text_area :introduction, autofocus: true, class:"form-control", id:"user_introduction", placeholder:"Introduction"%>
      </div>
      <%= f.submit "Update User" %>
    <% end %>
  </div>
</div>