<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', user_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Books', books_path %></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>

  	<div class="body">
      <div class="container">
        <!-- 修正する -->
        <p id="notice">Signed in successfully.</p>
      	<div class="row">
          <div class="col-xs-3">
            <h2>User info</h2>
            <!-- 修正する -->
            
            <table class="table">
              <tbody>
                <tr></tr>
                <tr>
              	  <th>name</th>
              	  <th>kamita</th>
                </tr>
                <tr>
              	  <th>introduction</th>
              	  <th></th>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17873" href="/users/17873/edit"></a>
            </div>
            <h2>New book</h2>

  <!--  -->
            
            <%= form_for(@book) do |f| %>
              <% if @book.errors.any? %>
                <div id="error_explanation">
                  <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
                  <ul>
                  <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="col-xs-12">
                  <h4>Title</h4>
                  <%= f.text_field :title %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <h4>Opinion</h4>
                  <%= f.text_area :body, class:"form-control", rows:"3" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.submit "Create Book", class:"btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-9">
            <h2>Books</h2>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Opinion</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/users/17873">
                    <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
                      </a>
                  </td>
                  <td><a class="book_28647" href="/books/28647">a</a></td>
                  <td>a</td>
                </tr>
                <tr>
                  <td><a href="/users/17873">
                      <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon">
                      </a>
                  </td>
                  <td><a class="book_28648" href="/books/28648">aiueo</a></td>
                  <td>aiueo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <div class="container">
    	<div class="row">
      	<div class="col-xs-3 col-xs-offset-9">
      		<p>CopyRight Infratop.inc</p>
      	</div>
      </div>
    </div>
  </footer>
</body>