<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', user_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <p id="notice"><%= notice %></p>
	<div class="row">
  	<div class="col-md-6 col-md-offset-3">
  		<h1>Editing Book</h1>
      <%= form_for(@book) do |f| %>
        <% if @book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <body class="edit-main">
        <div class="letter">
          <%= form_for(@book) do |f| %>
            <div class="row">
              <h4 class="edit-heading">title</h4>
              <div class="edit-title col-xs-12"><%= f.text_field :title %></div>
            </div>
            <div class="row">
              <h4 class="edit-heading">Opinion</h4>
              <div class="edit-opinion col-xs-12"><%= f.text_area :opinion %></div>
            </div>
            <div class="row">
              <div class="col-xs-12"><%= f.submit 'Update Book' %></div>
            </div>
          <% end %>
          <%= link_to 'Show', book_path(@book) %>
          <%= link_to 'Back', books_path %>
        </div>
      </body>
    </div>
  </div>
</div>

<footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>