<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Home', user_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Books', books_path %></li>
              <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>

  	<div class="body">
      <div class="container">
        <p id="notice"><%= notice %></p>
      	<div class="row">
          <div class="col-xs-3">
            <h2>User info</h2>
            <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image">
            <table class="table">
              <tbody>
                <tr></tr> 
                <tr>
              	  <th>name</th>
              	  <th>kamita</th>
                </tr>
                <tr>
              	  <th>introduction</th>
              	  <th></th>
                </tr>
              </tbody>
            </table>

          <div class="row">
            <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17873" href="/users/17873/edit"></a>
          </div>
          <h2>New book</h2>
          <%= form_for(@bbook, url: books_path) do |f| %>
            <div class="field row">
              <label for="book_title">Title</label>
              <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">
            </div>

            <div class="field row">
              <label for="book_opinion">Opinion</label>
              <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
            </div>

            <div class="actions row">
              <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
              <% end %>
            </div>
          </form>
          </div>


          <div class="col-xs-9">
        		<h2>Book detail</h2>
        		<table class="table">
        		  <tbody><tr>
         
                
        </a>        </td>
                <td><a href="/books/28647">a</a></td>
                <td>a</td>

                  <td><a class="btn-sm btn-success edit_book_28647" href="/books/28647/edit">Edit</a></td>
                  <td>
                    <% if @book.user == current_user %>
                      <%= link_to "Destroy", books_path(@book), method: :delete, data: {confirm: "本当に消しますか？"} %>
                    <% end %>
                  </td>
              </tr>
            </tbody></table>

          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
      	<div class="row">
        	<div class="col-xs-3 col-xs-offset-9">
        		<p>CopyRight Infratop.inc</p>
        	</div>
        </div>
      </div>
    </footer>




</body>