<div class="body">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <%= render partial: 'template/sidemenu', locals: { user: @user, book: @book } %>
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', class: "", fallback: "no_image.jpeg", size: "40x40" %>
                <% end %>
                <br>
                <%= link_to @user.name, user_path(@user.id) %>
              </td>
              <td><%= link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to 'Edit', edit_book_path, class: "btn-sm btn-success" %></td>
                <td>
                  <%= link_to 'Destroy', book_path(@book), {method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger" }%>
                </td>
              <% end %>
            </tr>
            <tr>
              <td id="favorite_<%= book.id %>">
                <%= render 'template/like', book: @book %>
              </td>
              <td>
                <i class="far fa-comments"></i>
                <%= "#{@book.book_comments.count} コメント" %>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <%= render 'template/book_comment', { book: @book, user: @user } %>
        <%= form_for [@book, @book_comment] do |f| %>
          <div class="row">
              <div class="col-sm-12">
                  <%= f.text_area :comment, rows:'5', class: "form-control js-form-validate",placeholder: "コメントをここに" %>
              </div>
          </div>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right form-submit js-disabled-submit" %>
          <%= javascript_include_tag "app.js" %>
        <% end %>
      </div>
    </div>
  </div>
</div>