<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', user_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <div class="profile-container">
        <%= attachment_image_tag @user, :profile_image_id, :fill, 100, 100, format: 'jpeg', class: "", fallback: "no_image.jpg" %>
        <table>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>name</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>introduction</td>
              <td><%= @user.introduction %></td>
            </tr>
          </tbody>
        </table>
        <% if @user.id == current_user.id %>
          <div class="row">
            <div class="col-xs-12"></div>
              <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <h2>New book</h2>
  <%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Title</h4>
        <%= f.text_field :title %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <h4>Opinion</h4>
        <%= f.text_area :body, class:"form-control", rows:"3" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= f.submit "Create Book", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>


  <div class="letter">
    <p class="show-paragraph"><span class="show-heading">Title:  </span><%= @book.title %></p>
    <p class="show-paragraph"><span class="show-heading">Body:  </span><%= @book.body %></p>
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= link_to 'Back', books_path %>
  </div>

<div class="col-xs-9">
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <tb>
          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "", fallback: "no_image.jpg" %><br>
          <%= user.name %>
        </tb>
        <td><%= book.title %></td>
        <td><%= book.opinion %></td>
        <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path %></td>
          <td>
            <%= link_to 'Destroy', books_path, method: :delete, data: { confirm: '本当に消しますか？' } %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>